@model AvailableMovie
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h3 class="text-center">Available Movies!</h3>
<hr>

<div  style="overflow:auto; height:400px;  padding-left:10px;">
   <p>Type something in the input field to search the table for any column:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table   class="table table-bordered table-striped" >
        <tr class="header">
            <th style="width:40%;">Title</th>
            <th style="width:40%;">Genre</th>
            <th style="width:20%;">Released Year</th>
        </tr>
        <tbody id="myTable">
    @foreach (var Movie in Model.AvailableMovies)
        {
        <tr >
            <th style="width:40%;"><a href="/Movies/@Movie.MovieId">@Movie.Title</a></th>
            <th style="width:40%;">@Movie.Genre</th>
            <th style="width:20%;">@Movie.ReleasedYear</th>
        </tr>
        }
        </tbody>
    </table>

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>