@model NewMovie
<h3 class="text-centetr">New Movie</h3>
<hr>

<form  asp-action="AddMovie" asp-controller="Movie" method="post">

<div class="mb-3">
    <span asp-validation-for="Title" style="color:red;"></span>
    <label asp-for="Title" class=" col-form-label "></label>
    <input type="text" class="form-control form-control-sm" id="colFormLabel"  asp-for="Title" placeholder="Title ">
</div>
<div class="mb-3">
    <span asp-validation-for="Genre" style="color:red;"></span>
    <label asp-for="Genre" class=" col-form-label "></label>
    <select class="form-control form-control-sm" id="colFormLabel"  asp-for="Genre" > 
        <option value="Fantasy">Fantasy</option>
        <option value="Science-Fiction">Science Fiction</option>
        <option value="Westerns">Westerns</option>
        <option value="Romance">Romance</option>
        <option value="Thriller">Thriller</option>
        <option value="Mystery">Mystery</option>
        <option value="Detective-story">Detective story</option>
        <option value="Dystopia">Dystopia</option>
    </select>
</div>
<div class="mb-3">
    <span asp-validation-for="ReleasedYear" style="color:red;"></span>
    <label asp-for="ReleasedYear" class=" col-form-label "></label>
    <input type="number" class="form-control form-control-sm" id="colFormLabel"  asp-for="ReleasedYear" placeholder="Product Name">
</div>

<br>
<button class="btn btn-primary btn-lg btn-block" type="submit">Add Movie</button>
</form>